.header {}

.header__container {
    max-width: 90%;
    margin: 0px auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon__burger {
    display: none;
}

.header__title {
    font-size: 18px;
    line-height: 1.3;
    color: #acacac;
    span {
        font-size: 36px;
        color: #666666;
    }
}

.header__search-block {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__searchInput {
    position: relative;
    input {
        padding: 12px 10px;
        padding-right: 30px;
        border-radius: 4px;
        transition: all .3s ease 0s;
        &:focus {
            outline: none;
            background-color: rgb(234, 233, 233);
        }
        &:hover {
            background-color: rgb(234, 233, 233);
        }
    }
    i {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
}

#header__helpBtn {
    background-color: #fdaa29;
    text-transform: uppercase;
    color: #fff;
    padding:12px 8px;
    border-radius: 4px;
    transition: all .3s ease 0s;
    cursor: pointer;
    &:hover {
        background-color: #ea9203;
    }
}

@media (max-width:991.98px) {
    
}